<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.trueway.sys.mapper.MenuMapper">

    <!--  获取所有一级菜单  -->
    <!-- List<Map<String, Object>> getAllParentMenuByFid(String menuId) -->
    <select id="getAllParentMenuByFid" resultType="java.util.HashMap">
        select t.MENU_GUID as menuId,
        t.MENU_PARENT_ID parentID,
        t.menu_name as menuName,
        t.menu_url menuUrl,
        t.menu_type,
        t.menu_sort,
        t.menu_path,
        t.menu_extlinks,
        t.MENU_SIMPLE_NAME,
        t.MENU_PATH
        from SYS_MENU t
        where t.MENU_STATUS = 0

            and t.MENU_PARENT_ID is null
            and t.MENU_RANK = 0

       order by t.menu_sort desc
    </select>

    <!-- 根据组织机构Id获取所有菜单合集 -->
    <!-- public List<Map<String, Object>> getMenus(String menuId, String orgId); -->
    <select id="getMenus" parameterType="String" resultType="java.util.HashMap">
        SELECT
        t.ORG_GUID orgGuid,
        t.ORG_NAME orgName,
        t.ORG_CODE orgCode,
        t.ORG_STATUS orgStatus
        t.MENU_GUID menuGuid,
        t.MENU_PARENT_ID menuParentId,
        t.MENU_NAME menuName,
        t.MENU_URL menuUrl
        FROM
        SYS_ORG_MENU t ;
        WHERE
        t.menu_status = 0
        AND t.ORG_STATUS = 0
        AND t.MENU_GUID = #{menuId}
        AND t.ORG_GUID = #{orgId}
        ORDER BY
        t.menu_sort DESC
        <!-- (t.menu_fater_id IS NULL OR t.menu_fater_id = '') -->
    </select>

    <!--  -->
    <!-- List<Map<String, Object>> getParentMenuByFid(String menuId) -->
    <select id="getParentMenuByFid" parameterType="String" resultType="java.util.HashMap">
		select distinct t.MENU_GUID as menuid,
		t.MENU_PARENT_ID,
		t.menu_name as menuName,
		t.menu_url menuUrl,
		t.menu_type,
		t.menu_sort,
		t.menu_path,
		t.menu_extlinks,
		t.MENU_SIMPLE_NAME,
		t.MENU_PATH
		from SYS_MENU t
		where t.MENU_STATUS = 0  and  t.MENU_PARENT_ID= #{parentId}
        and t.MENU_RANK = 0
		order by t.menu_sort  desc
	</select>


</mapper>
